.wrap{
  flex:1;
  width:70%;
  margin: 0 auto;
  //text-align: center;
  padding-top: 40px;
  padding-bottom: 25px;
  .title{
    padding-bottom: 30px;
    h3{
      font-size: 30px;
      padding-bottom: 12px;
      font-weight: 400;
    }
  }
}
