.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  .colorWrapper{
    display: flex;
    justify-content: space-around;
    flex: 1;
    .keys{
      position: absolute;
      bottom: 0px;
      right: 45%;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      background-color: black;
      border: none;
    }
    .first{
      width: 25%;
      height: 100%;
      background-color: brown;
      position: relative;
    }
    .second {
      width: 25%;
      background-color: #fff;
      position: relative;
    }
    .third{
      width: 25%;
      background-color: tan;
      position: relative;
    }
    .forth{
      width: 25%;
      background-color: yellowgreen;
      position: relative;
    }
    .fifth{
      width: 25%;
      background-color: red;
      position: relative;
    }
  }
  .btn{
    align-self: center;
    button{
      padding: 20px;
    }
  }
}